# B/LAB — somente leitura
BLAB_DB_HOST=
BLAB_DB_PORT=
BLAB_DB_NAME=
BLAB_DB_USER=
BLAB_DB_PASS=

# Q/Lab — leitura e escrita
QLAB_DB_HOST=
QLAB_DB_PORT=
QLAB_DB_NAME=
QLAB_DB_USER=
QLAB_DB_PASS=

# Auth
JWT_SECRET=senha-aqui
JWT_EXPIRES_IN=8h

# Server
PORT=

FRONTEND_URL=

BLAB_QUERY_TIMEOUT_MS=150000

IA_GATEWAY_URL=
IA_GATEWAY_API_KEY=
IA_GATEWAY_URL2=
IA_GATEWAY_API_KEY2=
IA_GATEWAY_URL3=
IA_GATEWAY_API_KEY3=
IA_GATEWAY_URL4=
IA_GATEWAY_API_KEY4=
IA_GATEWAY_URL5=
IA_GATEWAY_API_KEY5=


REDIS_URL= 